main{
    text-align: justify;
    text-indent: 10pt;
    background-color: rgb(128, 223, 199);
    border: solid 1px;
    padding: 50px;
}

.sec_curriculo{
    padding: 2px 10px;
}

.sec_curriculo:hover{
    font-size: 1.25em;
    background-color: rgb(201, 201, 201);
    transition: all 0.5s;
}

.sec_curriculo:not(:hover){
    background-color: none;
    transition: all 0.5s;
}

#secNome{
    text-align: center;
}

#ulNavegacao{
    text-align: center;
    background-color: rgb(119, 148, 190);
    padding-left: 0px;
    padding-bottom: 20px;
}

#ulNavegacao h3{
    color: white;
}

.li_navegacao{
    display: inline-block;
    border: solid 1px;
    list-style: none;
    background-color: rgb(247, 243, 215);
    padding: 5px;
    margin: 2px;
}

.li_navegacao:hover a{
    color: white;
}

.li_navegacao:hover{
    background-color: rgb(88, 88, 88);
}

.li_navegacao a{
    text-decoration: none;
}

h2{
    text-align: center;
    border: solid 1px;
    background-color: rgb(245, 244, 209);
}

a{
    display: block;
}

.li_contato{
    list-style: none;
}

.li_contato p{
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 800px){
    main{
        padding: 10px;
    }
    
    .sec_curriculo{
        padding: 1px 5px;
    }
    
    #ulNavegacao{
        padding-left: 0px;
    }
    
    .li_navegacao{
        display: block;
        margin: 5px 10px;
    }

    #minhaFoto{
        width: 50%;
    }

    #ulContato{
        padding: 10px 0px;
    }

    #secContato img{
        width: 10%;
    }

}